.normal{
    font-family: 'Indie Flower', cursive;
    font-size: 1.1em;
}
.grande{
    font-family: 'Indie Flower', cursive;
    font-size: 1.6em;
    font-weight: bold;

}
.extra{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}
.peque{
    font-family: 'Indie Flower', cursive;

}